@font-face {
    font-family: "MavenPro-Regular";
    src: url("../fonts/MavenPro-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MavenPro-Bold";
    src: url("../fonts/MavenPro-Bold.ttf") format("truetype");
}
@import url(http://fonts.googleapis.com/css?family=Vibur);
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: arial;
}
@font-face {
    font-family: "ISOCTEUR";
    src: url("../fonts/ISOCTEUR.ttf") format("truetype");
}
body {
    margin:0;
    padding: 0;
    background: #404269;
    border-top:10px solid #20E16D;
}

h1 {
    color: #fff;
    text-align: center;
    font-family: 'ISOCTEUR';
    font-size: 30px;
    letter-spacing: 0.1em;
}
.logo-section{
    margin: 0 auto;
}
.login-logo{
    display: block;
    margin:20px auto 40px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.alert-container{
    position: relative;
    margin-bottom: 15px;
    padding:15px;
    border: 1px solid #ff5b5b;
    color: #ff5b5b;
    border-radius:4px;
    font-family:"MavenPro-Regular";

    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in .2s;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in .2s;
    animation:fadeIn ease-in .2s;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:.2s;
    -moz-animation-duration:.2s;
    animation-duration:.2s;

}

.login-form {

    max-width: 450px;
    min-width: 350px;
    padding: 40px 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.form-group {
    position: relative;
    margin-bottom: 15px;

}

.form-control {
    width: 100%;
    height: 50px;
    border: none;
    padding: 5px 7px 5px 15px;
    background: #fff;
    color: #666;
    font-size:15px;
    font-family:"MavenPro-Regular";
    border: 2px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.form-control:focus {
    border-color: #404269;
}
.form-control:focus + .fa{
    color:#20E16D;
}

.form-group .fa {
    position: absolute;
    right: 15px;
    top: 17px;
    color: #999;
}
.alert-container .fa{
    position: absolute;
    right: 15px;
    top: 17px;
    color:#ff5b5b;
}
.log-status.wrong-entry {
    -moz-animation: wrong-log 0.3s;
    -webkit-animation: wrong-log 0.3s;
    animation: wrong-log 0.3s;
}

.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
    border-color: #ed1c24;
    color: #ed1c24;
}

.log-btn {
    font-family:"MavenPro-Regular";
    background: #20E16D;
    display: inline-block;
    width: 100%;
    font-size: 15px;
    height: 50px;
    color: #fff;
    text-decoration: none;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.log-btn, .link{
    cursor: pointer;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}


.log-btn-container{
    text-align:center;
    position: relative;
    margin-bottom: 15px;
}


.link {
    font-family:"MavenPro-Regular";
    text-decoration: none;
    color: #C6C6C6;
    text-align: right;
    font-size: 12px;
    width: 100%;
    margin-bottom: 15px;
}
.link:hover {
    text-decoration: underline;
    color: #8C918F;
}

.alert {
    display: none;
    font-size: 12px;
    color: #f00;
    float: left;
}
.copyright-container{
    font-family:"MavenPro-Regular";
    font-size:12px;
    color:#C6C6C6;
    position: fixed;
    left:auto;
    bottom:20px;
    height: auto;
    width: 100%;
}
.copyright-container a{
    text-decoration: none;
    color:#20E16D;
    cursor: pointer;
}
.copyright-container a:hover{
    text-decoration: underline;
}

@-moz-keyframes wrong-log {
    0%, 100% {
        left: 0px;
    }
    20% , 60% {
        left: 15px;
    }
    40% , 80% {
        left: -15px;
    }
}
@-webkit-keyframes wrong-log {
    0%, 100% {
        left: 0px;
    }
    20% , 60% {
        left: 15px;
    }
    40% , 80% {
        left: -15px;
    }
}
@keyframes wrong-log {
    0%, 100% {
        left: 0px;
    }
    20% , 60% {
        left: 15px;
    }
    40% , 80% {
        left: -15px;
    }
}
