@font-face {
	font-family: "MavenPro-Regular";
	src: url("../fonts/MavenPro-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "MavenPro-Bold";
	src: url("../fonts/MavenPro-Bold.ttf") format("truetype");
}
body{
	background-color:#404269;
	font-family: "MavenPro-Regular";
}
#loginbox{
	margin-top:50px;
}
#login-alert{
	display: none
}
.input-group{
	margin-bottom: 25px;
}
.form-group{
	margin-top:10px;
}
.sidebeep-panel-header{
	min-height: 35px;
	padding: 15px;
}
.panel{
	border: none;
}
.panel h3{
	color:#fff;
}
.panel-body{
	padding: 25px;
	padding-top: 30px;
}
.panel-info>.panel-heading{
	background-color: #20E16D;
}

.input-group-lg{
	position: relative;
	display: table;
	border-collapse: separate;
	height:50px ! important;
	font-size: 18px;
	line-height: 1.33333;
}
.sidebeep-login-btn {
	background: none;
	border-color: #20E16D;
	color:#20E16D;
}
.sidebeep-login-btn:hover {
	background: #20E16D;
	border-color: #20E16D;
	color:#fff;
}
.form-control:focus{
	border-color: #404269;
}

.logo-container{
	width: 100%;
	margin: 0 auto;
}
.input-group-addon{
	padding: 10px 16px;
	color:#89949B;
}
.log-btn:hover, .link:hover{
	cursor: pointer;
}
/*ERROR PAGE*/
.error-page{
	border-top: 10px solid #20E16D;
}
.error-heading,.error-description,.error-message{
	color:#fff;
}
.error-message{
	font-style: italic;
	font-size: 1.5em;
}
.error-heading{
	font-size: 40px;
	font-family: "MavenPro-Bold";

}
.error-description{
	font-size: 3em;

}
.error-container{
	margin-top:200px;
}
